{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'stations/style.css' %}">
</head>
<body>
  <div class="header">
    <h2> ALMA Weather Stations - Visual Inspection </h2>
    </br>
    <a href="http://weather.aiv.alma.cl/index.php">
     ALMA Weather Stations website
    </a>
  </div>
  <div class="content">
    <div class="form-container">
      <div class="form-legend">
        Select which weather station VIR alarm to acknowledge
      </div>
      <form action="{% url 'inspection' %}" method="post">
        {% csrf_token %}
        <div class="form-login">
          Login&nbsp;:&nbsp; <input class="form-login-input" type="text" name="login" value="{{ username }}"/>
          <div class="login-field-error-message">
            {{ form_login_message }}
          </div>
        </div>
        <!-- <div class="form-stations"> -->
          <!-- <ul class="form-stations-list">
            {% for station in stations %}
              <li>
                <div class="station">
                  <input class="station-checkbox" type="checkbox" name="vir" value="{{ station.name }}"/>
                   {{ station.name }}
                </div>
              </li>
            {% endfor %}
          </ul> -->
          <table class="table-stations">
              <tr>
                  <th>Selection</th>
                  <th>Area</th>
                  <th>Description</th>
                  <th>Primary WS</th>
                  <th>Secondary WS</th>
              </tr>
              {% for station in stations %}
                <tr>
                    <td> <input class="station-checkbox" type="checkbox" name="vir" value="{{ station.name }}"/> </td>
                    <td> {{ station.name }} </td>
                    <td> {{ station.location }} </td>
                    <td> {{ station.primary }} </td>
                    <td> {{ station.secondary }} </td>
                </tr>
              {% endfor %}
          </table>
        <!-- </div> -->
        <div class="form-submit">
          <input class="form-submit-btn" type="submit" value="Submit"/>
        </div>
        <div class="form-response">
          {% if sent_inspection %}

            {% if recorded %}

              <div class="box--success">
                <div class="box-result"> {{ result }} </div>
                <div>
                  <div class="box-title"> VIR registered for stations: </div>
                  <ul class="box-list">
                    {% for station_name in recorded_stations %}
                      <li> {{ station_name }} </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

            {% else %}

              {% if selected_stations %}

                <div class="box--error">
                  <div class="box-result"> {{ result }} </div>
                  <div>
                    <div class="box-title"> Unregistered VIR for stations: </div>
                    <ul class="box-list">
                      {% for station_name in non_recorded_stations %}
                        <li> {{ station_name }} </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

              {% else %}

              <div class="box--error">
                <div class="box-result"> {{ result }} </div>
                <div>
                  <div class="box-title"> No antenna was selected </div>
                </div>
              </div>

              {% endif %}

            {% endif %}

          {% endif %}

        </div>
      </form>
    </div>
  </div>
  <div class="footer">
  </div>
</body>
</html>
